.topbox{
    background-color: rgb(203, 203, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8em;
    margin-bottom: 1em;
}
.logout{
    margin: 1em;
    margin-left: 10em;
    width: 5em;
    height: 4em;
    background-color: rgb(227, 222, 222);
    border-radius: 1em;
}
.logout:hover{
    background-color: aliceblue;
}
input{
    border-radius: 1em;
    border: 0;
    margin: 0.5em;
    padding: 0.2em;
    padding-left: 0.5em;
}
.select{
    margin-left: 0.5em;
}
.submitbutton{
    padding: 1em;
    
}
.submitbutton:hover{
    background-color: aliceblue;
}
#sortbox{
    margin: 3em;
}
.formbox{
    border-radius: 2em;
    border: 0.1em;
    padding: 1em;
    border-style: solid;
    border-color: black;
    background-color: rgb(204, 220, 220);
}
#editbox{
    padding: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
}
.edittitle{
    display: flex;
    justify-content: center;
}

.tableinfo{
    text-align: center; 
    vertical-align: middle;
}